<template>
  <div id="app">
    <Formulario msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
import Formulario from "./components/FormulariAlta.vue";

export default {
  name: "App",
  components: {
    Formulario,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
