.light {
    position: absolute;
    top: 5vh;
    left: 38vw;
    height: 15vh;
}


#pressTo {
    position: absolute;
    top: 30vh;
    left: 38vw;
    height: 15vh;
}

#fwalk {
    position: absolute;
    top: 5vh;
    left: 2vw;
    height: 15vh;
}
#fwalkrev {
    position: absolute;
    top: 5vh;
    left: 62vw;
    height: 20vh;
}
#fsleep {
    position: absolute;
    top: 5vh;
    left: 2vw;
    height: 20vh;
}
#fsleepzero {
    position: absolute;
    top: 5vh;
    left: 2vw;
    height: 20vh;
}

#waddlereverse {
    position: absolute;
    top: 30vh;
    left: 62vw;
    height: 20vh;
}

#standbywalk {
    position: absolute;
    top: 30vh;
    left: 30vw;
    height: 15vh;
}

#kirbyctory {
    position: absolute;
    top: 30vh;
    left: 47vw;
    height: 20vh;
}

#accept {
    position: absolute;
    background-color: black;
    top: 77vh;
    left: 35vw;
    border:4px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#decline {
    position: absolute;
    background-color: black;
    top: 77vh;
    left: 60vw;
    border:4px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.speech {
    position: absolute;
    top: 60vh;
    left: 38vw;
    height: 15vh;
}
#myHP {
    position: absolute;
    top: 5vh;
    left: 30vw;
}

#enemyHP {
    position: absolute;
    top: 5vh;
    left: 60vw;
}

#rock {
    position: absolute;
    background-color: rgb(250, 117, 179);
    top: 77vh;
    left: 20vw;
    border:4px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#blade {
    position: absolute;
    background-color: green;
    top: 77vh;
    left: 45vw;
    border:4px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#hammer {
    position: absolute;
    background-color: brown;
    top: 77vh;
    left: 70vw;
    border:4px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#rockpic {
    position: absolute;
    top: 8vh;
    left: 62vw;
}

#slashpic {
    position: absolute;
    top: 15vh;
    left: 25%;
    height: 40vh;
}

#hammerpic {
    position: absolute;
    top: 11vh;
    left: 30%;
    height: 40vh;
}

button:hover {
    animation: shake 1s;
    animation-iteration-count: 1;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

body {
    background-image: url("background.jpg");
}