<template>
  <b-form id="form">
    <h1>Formulari d'alta</h1>
    <br/>
    <h3>Informació usuari</h3>
    <label for="fname">Nom:</label><br>
    <input type="text" id="nom" name="nom" placeholder="Nom" maxlength="30" size="40"><br><br>
    <label for="lname">Primer Cognom:</label><br>
    <input type="text" id="primCognom" name="primCognom" placeholder="Primer Cognom" maxlength="60" size="80"><br><br>
    <label for="lname">Segon Cognom:</label><br>
    <input type="text" id="segCognom" name="segCognom" placeholder="Segon Cognom" maxlength="60" size="80"><br><br>
    <label for="lname">Tipus de Document:</label><br>
    <input list="tipDocuments" name="tipDocument" id="tipDocument" placeholder="Tria el tipus de document">
    <datalist id="tipDocuments">
      <option value="DNI"/>
      <option value="NIE"/>
    </datalist><br><br>
    <label for="lname">Document d'identitat:</label><br>
    <input type="text" id="ID" name="ID" placeholder="26187859J" pattern="[0-9]{8}[A-Za-z]{1}" title="DNI Incorrecte"><br><br>
    <label for="lname">Data de Naixement:</label><br>
    <input type="date" id="birthDate" name="birthDate"><br>
    <p>Ets:</p>
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Home</label><br>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Dona</label><br><br>
    <label for="estudis">Nivell d'estudis:</label><br>
    <input list="estudis" name="estudi" id="estudi" placeholder="Tria el nivell d'estudis">
    <datalist id="estudis">
      <option value="ESO"/>
      <option value="Programes de formació i inserció"/>
      <option value="Batxillerat"/>
      <option value="Formació professiona"/>
      <option value="Ensenyaments artístics superiors"/>
      <option value="Idiomes a les EOI"/>
    </datalist><br><br>    
    <label for="email">Situació laboral:</label><br>
    <input list="sitLabs" name="sitLab" id="sitLab" placeholder="Tria la teva situació laboral">
    <datalist id="sitLabs">
      <option value="Estudiant"/>
      <option value="Aturat"/>
      <option value="Treball per compte propi"/>
      <option value="Treball compte aliè"/>
      <option value="Pensionista"/>
    </datalist><br><br>  
    <label for="email">Nacionalitat:</label><br>
    <input list="nacionalitats" name="nacionalitat" id="nacionalitat" placeholder="Tria la nacionalitat">
    <datalist id="listName">
      <option value="Espanyola"/>
      <option value="UE"/>
      <option value="FUE"/>
    </datalist><br><br>  
    <label for="email">País:</label><br>
    <input list="paisos" name="pais" id="pais" placeholder="Tria el teu país">
    <datalist id="paisos">
      <option value="Espanya"/>
      <option value="França"/>
      <option value="Portugal"/>
      <option value="Andorra"/>
      <option value="Italia"/>
    </datalist><br><br>  
    <label for="email">Adreça de correu:</label><br>
    <input type="text" id="nom" name="nom" placeholder="correu@gmail.com"><br><br>
    <label for="email">Telèfon:</label><br>
    <input type="text" id="nom" name="nom" placeholder="986367458" maxlength="9" size="10"><br><br>
    <p>Vius a Barcelona:</p>
    <input type="radio" id="male" name="location" value="si">
    <label for="male">Si</label><br>
    <input type="radio" id="female" name="location" value="no">
    <label for="female">No</label><br><br>
    <label for="email">Tipus de via:</label><br>
    <input type="text" id="nom" name="nom" placeholder="Tria el tipus de via"><br><br>
    <label for="email">Adreça:</label><br>
    <input type="text" id="nom" name="nom" placeholder="Via Augusta"><br><br>
    <label for="email">Numero:</label><br>
    <input type="text" id="nom" name="nom" placeholder="22"><br><br>
    <label for="email">Pis:</label><br>
    <input type="text" id="nom" name="nom" placeholder="1"><br><br>
    <label for="email">Porta:</label><br>
    <input type="text" id="nom" name="nom" placeholder="2"><br><br>
    <label for="email">Escala:</label><br>
    <input type="text" id="nom" name="nom" placeholder="A"><br><br>
    <label for="email">Codi postal:</label><br>
    <input type="text" id="nom" name="nom" placeholder="08043"><br><br>
    <label for="email">Població:</label><br>
    <input type="text" id="nom" name="nom" placeholder="BARCELONA"><br><br>
    <label for="email">Clau d'accés:</label><br>
    <input type="text" id="nom" name="nom" placeholder="aHS68EJD"><br><br>
    <label for="email">Confirma la clau d'accés:</label><br>
    <input type="text" id="nom" name="nom" placeholder="aHS68EJD"><br><br>
    <input type="checkbox" id="confirmacio" name="confirmacio" value="confirmacio">
    <label for="confirmacio"> He llegit i acceptat els termes d'ús.</label><br><br>
    <input type="submit" value="Submit">
  </b-form>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
